action-msgs==2.0.2
actionlib-msgs==5.3.6
Adafruit-Blinka==8.58.1
adafruit-circuitpython-bno08x==1.2.9
adafruit-circuitpython-busdevice==5.2.12
adafruit-circuitpython-connectionmanager==3.1.4
adafruit-circuitpython-gps==3.11.2
adafruit-circuitpython-motor==3.4.16
adafruit-circuitpython-pca9685==3.4.18
adafruit-circuitpython-register==1.10.3
adafruit-circuitpython-requests==4.1.11
adafruit-circuitpython-servokit==1.3.20
adafruit-circuitpython-typing==1.12.1
Adafruit-PlatformDetect==3.79.0
Adafruit-PureIO==1.1.11
AHRS==0.3.1
ament-cmake-test==2.5.4
ament-copyright==0.17.2
ament-cppcheck==0.17.2
ament-cpplint==0.17.2
ament-flake8==0.17.2
ament-index-python==1.8.1
ament-lint==0.17.2
ament-lint-cmake==0.17.2
ament-package==0.16.4
ament-pep257==0.17.2
ament-uncrustify==0.17.2
ament-xmllint==0.17.2
binho-host-adapter==0.1.6
builtin-interfaces==2.0.2
catkin-pkg==1.0.0
certifi==2025.4.26
charset-normalizer==3.4.2
colorama==0.4.6
colorzero==2.0
composition-interfaces==2.0.2
contourpy==1.3.2
cycler==0.12.1
diagnostic-msgs==5.3.6
docutils==0.21.2
domain-coordinator==0.12.0
# Editable install with no version control (elysium==0.0.0)
-e /ros/ORT_ELECTRICAL/ort_ws/build/elysium
empy==4.2
filelock==3.18.0
fonttools==4.58.1
fsspec==2025.5.1
geometry-msgs==5.3.6
gpiod==2.3.0
gpiodevice==0.0.5
gpiozero==2.0.1
# Editable install with no version control (gps==0.0.0)
-e /ros/ORT_ELECTRICAL/ort_ws/build/gps
idna==3.10
Jinja2==3.1.6
kiwisolver==1.4.8
lark==1.2.2
launch==3.4.4
launch-ros==0.26.7
launch-testing==3.4.4
launch-testing-ros==0.26.7
launch-xml==3.4.4
launch-yaml==3.4.4
lgpio==0.2.2.0
lifecycle-msgs==2.0.2
MarkupSafe==3.0.2
matplotlib==3.10.3
message-filters==4.11.6
# Editable install with no version control (mission-control==0.0.0)
-e /ros/ORT_ELECTRICAL/ort_ws/build/mission_control
mpmath==1.3.0
multipledispatch==1.0.0
nav-msgs==5.3.6
networkx==3.5
numpy==2.2.6
opencv-python==4.11.0.86
# Editable install with no version control (optical-flow-ros==0.0.0)
-e /ros/ORT_ELECTRICAL/ort_ws/build/optical_flow_ros
ort_interfaces==0.0.0
osrf-pycommon==2.1.6
packaging==25.0
pandas==2.2.3
pillow==11.2.1
pmw3901==1.0.0
psutil==7.0.0
py-cpuinfo==9.0.0
pyftdi==0.56.0
pyparsing==3.2.3
pyrr==0.10.3
pyserial==3.5
python-dateutil==2.9.0.post0
pytz==2025.2
pyusb==1.3.1
PyYAML==6.0.2
pyzbar==0.1.9
qrdet==2.5
qreader==3.16
quadrilateral-fitter==1.12
rcl-interfaces==2.0.2
rclpy==7.1.4
rcutils==6.7.2
requests==2.32.3
rmw-dds-common==3.1.0
ros2action==0.32.4
ros2bag==0.26.7
ros2bag-mcap-cli==0.26.7
ros2bag-sqlite3-cli==0.26.7
ros2cli==0.32.4
ros2component==0.32.4
ros2doctor==0.32.4
ros2interface==0.32.4
ros2launch==0.26.7
ros2lifecycle==0.32.4
ros2multicast==0.32.4
ros2node==0.32.4
ros2param==0.32.4
ros2pkg==0.32.4
ros2run==0.32.4
ros2service==0.32.4
ros2topic==0.32.4
rosbag2-interfaces==0.26.7
rosbag2-py==0.26.7
rosgraph-msgs==2.0.2
rosidl-adapter==4.6.5
rosidl-cli==4.6.5
rosidl-cmake==4.6.5
rosidl-generator-c==4.6.5
rosidl-generator-cpp==4.6.5
rosidl-generator-py==0.22.1
rosidl-generator-type-description==4.6.5
rosidl-parser==4.6.5
rosidl-pycommon==4.6.5
rosidl-runtime-py==0.13.1
rosidl-typesupport-c==3.2.2
rosidl-typesupport-cpp==3.2.2
rosidl-typesupport-fastrtps-c==3.6.1
rosidl-typesupport-fastrtps-cpp==3.6.1
rosidl-typesupport-introspection-c==4.6.5
rosidl-typesupport-introspection-cpp==4.6.5
rpyutils==0.4.1
scipy==1.15.3
sensor-msgs==5.3.6
sensor-msgs-py==5.3.6
service-msgs==2.0.2
setuptools==80.9.0
shape-msgs==5.3.6
shapely==2.1.1
six==1.17.0
smbus3==0.5.5
spidev==3.7
sros2==0.13.3
statistics-msgs==2.0.2
std-msgs==5.3.6
std-srvs==5.3.6
stereo-msgs==5.3.6
sympy==1.14.0
sysv_ipc==1.1.0
tf2-geometry-msgs==0.36.11
tf2-kdl==0.36.11
tf2-msgs==0.36.11
tf2-py==0.36.11
tf2-ros-py==0.36.11
tf2-sensor-msgs==0.36.11
tf2-tools==0.36.11
torch==2.7.0
torchvision==0.22.0
tqdm==4.67.1
trajectory-msgs==5.3.6
transforms3d==0.4.2
type-description-interfaces==2.0.2
typing_extensions==4.13.2
tzdata==2025.2
ultralytics==8.3.146
ultralytics-thop==2.0.14
unique-identifier-msgs==2.5.0
urllib3==2.4.0
visualization-msgs==5.3.6
wheel==0.45.1